
@media screen and (max-width: 549px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .box1, .box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.description1, .description2, .right-aligment {
  text-align: center;
  padding: 0;
}

}
